@import url("https://use.typekit.net/qes6mbe.css");

.slide-item {
    color: white;
    font-size: 72pt;
    line-height: 1.0;
    width: 100%;
    font-family: area-extended, sans-serif;
    font-weight: 700;
    overflow: hidden;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.right, .center, .left {
    overflow-x: hidden;
}

@media (max-width: 840px) {
    .slide-item {
        font-size: 36pt;
    }
}