.background-canvas {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none;
  touch-action: none;

  z-index: -1;
}

.above-background {
  position: relative;
  z-index: 1;
}
